<h1 mat-dialog-title>Upload new document</h1>
<form [formGroup]="uploadFileForm" (submit)="submit()">
<div mat-dialog-content style="height:600px !important;">
  <div>
    <p>Choose the allocations for which you want to upload this file</p>
    <div style="display: inline-block;">
     <!--learning type filter---->
          <mat-form-field appearance="fill">
            <mat-label>Learning type</mat-label>
            <mat-select (selectionChange)="makeUniversityStudyVisible($event.value)" [(value)]="selectLearningType"
                        formControlName="learningType" required>
              <mat-option *ngFor="let learningType of learningTypes" [value]="learningType.value">
                {{learningType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!---university studies filter------>
          <mat-form-field appearance="fill" class="margin-left hidden-element" id="universityStudyId">
            <mat-label>University study</mat-label>
            <mat-select (selectionChange)="makeDomainVisible($event.value)" [(value)]="selectUniversityStudy"
                        formControlName="universityStudy" required>
              <mat-option *ngFor="let universityStudy of universityStudies" [value]="universityStudy.value">
                {{universityStudy.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!---domain filter------>
          <mat-form-field appearance="fill" class="margin-left hidden-element" id="domainId">
            <mat-label>Domain</mat-label>
            <mat-select (selectionChange)="makeStudyProgramVisible($event.value)" [(value)]="selectDomain"
                        formControlName="domain" required>
              <mat-option *ngFor="let domain of domains" [value]="domain.value">
                {{domain.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!---study program filter------>
          <mat-form-field appearance="fill" class="hidden-element" id="studyProgramId">
            <mat-label>Study program</mat-label>
            <mat-select (selectionChange)="makeStudyYearVisible($event.value)" [(value)]="selectStudyProgram"
                        formControlName="studyProgram" required>
              <mat-option *ngFor="let studyProgram of studyPrograms" [value]="studyProgram.value">
                {{studyProgram.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

      <!---study year filter------>
      <mat-form-field appearance="fill" class="margin-left hidden-element" id="studyYearId">
        <mat-label>Study year</mat-label>
        <mat-select [(value)]="selectStudyYear" formControlName="studyYear" required>
          <mat-option *ngFor="let studyYear of studyYears" [value]="studyYear.value">
            {{studyYear.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Document name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="uploadFileForm.controls.name.errors && uploadFileForm.controls.name.touched">
          <span *ngIf="uploadFileForm.controls.name.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>End date of upload</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="endDateOfUpload" required [min]="currentDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="uploadFileForm.controls.endDateOfUpload.errors && uploadFileForm.controls.endDateOfUpload.touched">
          <span *ngIf="uploadFileForm.controls.endDateOfUpload.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <p>Upload the document</p>
      <mat-form-field>
        <ngx-mat-file-input [multiple]="false" [accept]="'.pdf'" formControlName="file" [required]="true">
        </ngx-mat-file-input>
      </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial type="submit">Save</button>
</div>
</form>
