.margin-left {
  margin-left: 10px;
}

.hidden-element {
  display: none;
}

.demo-table {
  align-self: center;
  width:100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.wider-cell{
  width: 250px;
  text-align: center;
}

.centeredText{
text-align: center;
}

.action-cell{
  width: 50px;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-button{
  background-color: #9c27b0;
  color: white;
  margin-top:10px;
  margin-bottom: 10px;
}

.mat-form-field-wrapper{
  padding-top: 15px !important;
}

.margin-top-for-icon{
  margin-top:10px;
}
