<app-navbar class="mat-elevation-z6"></app-navbar>
<div style="margin:30px;width:80%;">
  <div>
    <h1>Student documents</h1>
  </div>

  <h3>Start filtering in order for the table with the students to appear!</h3>

  <div style="display: inline-block;">
    <!---learning type filter------>
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Learning type</mat-label>-->
<!--      <mat-select (selectionChange)="makeUniversityStudyVisible($event.value)" [(value)]="selectLearningType">-->
<!--        <mat-option *ngFor="let learningType of learningTypes" [value]="learningType.id">-->
<!--          {{learningType.value}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    &lt;!&ndash;-university studies filter&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <mat-form-field appearance="fill" class="margin-left hidden-element" id="universityStudyId">-->
<!--      <mat-label>University study</mat-label>-->
<!--      <mat-select (selectionChange)="makeDomainVisible($event.value)" [(value)]="selectUniversityStudy">-->
<!--        <mat-option *ngFor="let universityStudy of universityStudies" [value]="universityStudy.id">-->
<!--          {{universityStudy.value}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    &lt;!&ndash;-domain filter&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <mat-form-field appearance="fill" class="margin-left hidden-element" id="domainId">-->
<!--      <mat-label>Domain</mat-label>-->
<!--      <mat-select (selectionChange)="makeStudyProgramVisible($event.value)" [(value)]="selectDomain">-->
<!--        <mat-option *ngFor="let domain of domains" [value]="domain.id">-->
<!--          {{domain.value}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    &lt;!&ndash;-study program filter&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <mat-form-field appearance="fill" class="margin-left hidden-element" id="studyProgramId">-->
<!--      <mat-label>Study program</mat-label>-->
<!--      <mat-select (selectionChange)="makeStudyYearVisible($event.value)" [(value)]="selectStudyProgram">-->
<!--        <mat-option *ngFor="let studyProgram of studyPrograms" [value]="studyProgram.id">-->
<!--          {{studyProgram.value}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

    <!---study year filter------>
    <mat-form-field appearance="fill" class="" id="allocationId" style="width:800px;">
      <mat-label>Filter by allocation</mat-label>
      <mat-select (selectionChange)="makeStudyGroupVisible($event.value)" [(value)]="selectAllocation">
        <mat-option *ngFor="let allocation of allocations" [value]="allocation.id">
          {{allocation.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table mat-table class="mat-elevation-z8 demo-table hidden-element" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" id="table">

    <ng-container matColumnDef="studyGroup">
      <th mat-header-cell *matHeaderCellDef>Study group</th>
      <td mat-cell *matCellDef="let document" class="wider-cell">{{document.studyGroup}}</td>
    </ng-container>

    <ng-container matColumnDef="studyGroup-filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="fill" class="hidden-element" id="studyGroupId" style="padding-top: 15px !important;">
          <mat-select [(value)]="selectStudyGroup" (selectionChange)="filterTable()">
            <mat-option *ngFor="let studyGroup of studyGroups" [value]="studyGroup.id">{{studyGroup.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First name</th>
      <td mat-cell [matTooltip]="tooltipText" *matCellDef="let document" class="wider-cell" (click)="openDetailsDialog(document.studentModel)">{{document.studentModel.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="firstName-filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="fill" style="padding-top: 15px !important;">
          <input matInput id="selectFirstName" [(ngModel)]="firstName" (keyup) = "filterTable()">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell *matCellDef="let document" class="wider-cell">{{document.studentModel.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName-filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="fill" style="padding-top: 15px !important;">
          <input matInput id="selectLastName" [(ngModel)]="lastName" (keyup) = "filterTable()">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>File name</th>
      <td mat-cell *matCellDef="let document" class="wider-cell">{{document.name}}</td>
    </ng-container>

    <ng-container matColumnDef="name-filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="fill" style="padding-top: 15px !important;">
          <input matInput id="selectFileName" [(ngModel)]="fileName" (keyup) = "filterTable()">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="dateOfUpload">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of upload</th>
      <td mat-cell *matCellDef="let document" class="wider-cell">{{document.dateOfUpload | date}}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfUpload-filter">
      <th mat-header-cell *matHeaderCellDef>
      </th>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let document" class="wider-cell" ><span>{{document.status}}</span><mat-icon  style="float: right;margin-right: 90px;" [matTooltip]="changeStatusTooltipMessage" data-toggle="modal" (click)="openStatusChangeDialog(document)">cached</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="status-filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="fill" style="padding-top: 15px !important;">
          <mat-select (selectionChange)="filterTable()" [(value)]="selectStatus">
            <mat-option [value]="allStatuses">ALL</mat-option>
            <mat-option [value]="inProgress">IN PROGRESS</mat-option>
            <mat-option [value]="valid">VALID</mat-option>
            <mat-option [value]="invalid">INVALID</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="viewDocument">
      <th mat-header-cell *matHeaderCellDef>View</th>
      <td mat-cell *matCellDef="let document" class="action-cell">
        <mat-icon [matTooltip]="viewDocumentTooltipMessage" data-toggle="modal" (click)="openPdf(document.filePath, document.studentModel.id)">remove_red_eye
        </mat-icon>
      </td>&nbsp;
    </ng-container>

    <ng-container matColumnDef="viewDocument-filter">
      <th mat-header-cell *matHeaderCellDef>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnFilters"></tr>

    <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="dataLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPaginationChange($event)"
                 id="tablePagination" class="hidden-element">
  </mat-paginator>

</div>
