<app-navbar class="mat-elevation-z6"></app-navbar>
<div style="margin:30px;width:60%;">
  <div>
    <h1>Notifications</h1>
  </div>
  <table mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="documentName">
      <th mat-header-cell *matHeaderCellDef >Document name</th>
      <td mat-cell *matCellDef="let document" class="wider-cell">{{document.documentName}}</td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef >Message</th>
      <td mat-cell *matCellDef="let document" class="wider-cell">{{document.message}}</td>
    </ng-container>

    <ng-container matColumnDef="date" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let document" class="wider-cell">{{document.date | date}}</td>
    </ng-container>

    <ng-container matColumnDef="viewDocument">
      <th mat-header-cell *matHeaderCellDef >Go to document</th>
      <td mat-cell *matCellDef="let document" class="action-cell wider-cell">
        <mat-icon class="" data-toggle="modal"
                  data-target="#editSecretaryDocument" (click)="goToTheDocument(document.documentType)">insert_drive_file
        </mat-icon>
      </td>&nbsp;
    </ng-container>

    <ng-container matColumnDef="seen">
      <th mat-header-cell *matHeaderCellDef >Seen</th>
      <td mat-cell *matCellDef="let document" class="action-cell wider-cell">
        <mat-icon *ngIf = "!document.seen" (click)="checkNotification(document.id)" [matTooltip]="checkTooltipMessage">check_circle_outline</mat-icon>

        <mat-icon *ngIf ="document.seen">check_circle</mat-icon>
      </td>&nbsp;
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  <mat-paginator [length]="dataLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPaginationChange($event)"
                 id="tablePagination">
  </mat-paginator>
</div>
