<p>
  <mat-toolbar color="primary">

    <a mat-button="" routerlink="/" aria-label="Angular Material"
       class="mat-focus-indicator docs-button mat-button mat-button-base"
       tabindex="0" aria-disabled="false" href="/">
    <span class="mat-button-wrapper">
      <mat-icon alt="angular" class="docs-angular-logo">school</mat-icon>
      <span>Unidoc</span>
    </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>


    <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"
       class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
       tabindex="0" aria-disabled="false" href="/components" wrc_done="true">
      <span class="mat-button-wrapper">Secretary management</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"
       class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
       tabindex="0" aria-disabled="false" href="/components" wrc_done="true">
      <span class="mat-button-wrapper">Student management</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"
       class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
       tabindex="0" aria-disabled="false" href="/components" wrc_done="true">
      <span class="mat-button-wrapper">Studies management</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>


    <span class="example-spacer"></span>


    <a mat-button="" href="https://github.com/angular/components" aria-label="GitHub Repository"
       class="mat-focus-indicator docs-button mat-button mat-button-base"
       tabindex="0" aria-disabled="false">
      <span class="mat-button-wrapper">
        <mat-icon alt="notifications" class="docs-angular-logo">notifications</mat-icon>
      </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <a mat-button="" href="https://github.com/angular/components" aria-label="GitHub Repository"
       class="mat-focus-indicator docs-button mat-button mat-button-base"
       tabindex="0" aria-disabled="false">
      <span class="mat-button-wrapper">
        <mat-icon alt="account" class="docs-angular-logo">account_circle</mat-icon>
      </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>


  </mat-toolbar>
</p>
