<p>
  <mat-toolbar color="primary">

    <a mat-button="" routerlink="/" aria-label="Angular Material"
       class="mat-focus-indicator docs-button mat-button mat-button-base"
       tabindex="0" aria-disabled="false" href="/">
    <span class="mat-button-wrapper">
      <mat-icon alt="angular" class="docs-angular-logo">school</mat-icon>
      <span>Unidoc</span>
    </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <!-------------Menu items for Admin User---------------------------->
    <span *ngIf="isAdmin">
    <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"
       class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
       tabindex="0" aria-disabled="false" href="/secretary-management" wrc_done="true">
      <span class="mat-button-wrapper">Secretary management</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"
       class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
       tabindex="0" aria-disabled="false" href="/student-management" wrc_done="true">
      <span class="mat-button-wrapper">Student management</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

<!--    <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"-->
<!--       class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"-->
<!--       tabindex="0" aria-disabled="false" href="/components" wrc_done="true">-->
<!--      <span class="mat-button-wrapper">Studies management</span>-->
<!--      <span matripple="" class="mat-ripple mat-button-ripple"></span>-->
<!--      <span class="mat-button-focus-overlay"></span>-->
<!--    </a>-->
    </span>

    <!-------------Menu items for Secretary User---------------------------->
    <span *ngIf="isSecretary">
       <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"
          class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
          tabindex="0" aria-disabled="false" href="/document-management" wrc_done="true">
      <span class="mat-button-wrapper">Document management</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"
       class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
       tabindex="0" aria-disabled="false" href="/student-documents" wrc_done="true">
      <span class="mat-button-wrapper">Student documents</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>
    </span>

    <!-------------Menu items for Student User---------------------------->
    <span *ngIf="isStudent">
       <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"
          class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
          tabindex="0" aria-disabled="false" href="/required-documents" wrc_done="true">
      <span class="mat-button-wrapper">Required documents</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <a mat-button="" routerlinkactive="docs-navbar-header-item-selected"
       class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected"
       tabindex="0" aria-disabled="false" href="/created-documents" wrc_done="true">
      <span class="mat-button-wrapper">Created documents</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>
    </span>



    <span class="example-spacer"></span>


    <a *ngIf="isStudent" mat-button="" href="https://github.com/angular/components" aria-label="GitHub Repository"
       class="mat-focus-indicator docs-button mat-button mat-button-base"
       tabindex="0" aria-disabled="false" href="/student-notifications">
      <span class="mat-button-wrapper">
        <mat-icon [matBadge]="matBadgeCount" matBadgeColor="warn" [matBadgeHidden]="hideMatBadge" alt="notifications" class="docs-angular-logo">notifications</mat-icon>
      </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <a *ngIf="isSecretary" mat-button="" href="https://github.com/angular/components" aria-label="GitHub Repository"
       class="mat-focus-indicator docs-button mat-button mat-button-base"
       tabindex="0" aria-disabled="false" href="/secretary-notifications">
      <span class="mat-button-wrapper">
        <mat-icon [matBadge]="matBadgeCount" matBadgeColor="warn" [matBadgeHidden]="hideMatBadge" alt="notifications" class="docs-angular-logo">notifications</mat-icon>
      </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <a *ngIf="isStudent" mat-button=""  aria-label="GitHub Repository"
       class="mat-focus-indicator docs-button mat-button mat-button-base"
       tabindex="0" aria-disabled="false" href="/user-profile">
      <span class="mat-button-wrapper">
        <mat-icon alt="account" class="docs-angular-logo">account_circle</mat-icon>
      </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

    <a mat-button=""  aria-label="GitHub Repository"
       class="mat-focus-indicator docs-button mat-button mat-button-base"
       tabindex="0" aria-disabled="false" (click)="logOut()">
      <span class="mat-button-wrapper">
        <mat-icon alt="account" class="docs-angular-logo">exit_to_app</mat-icon>
      </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>

  </mat-toolbar>
</p>
