<h1 mat-dialog-title>Upload new document</h1>
<form [formGroup]="uploadFileForm" (submit)="submit()">
<div mat-dialog-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Document name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="uploadFileForm.controls.name.errors && uploadFileForm.controls.name.touched">
          <span *ngIf="uploadFileForm.controls.name.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>End date of upload</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="endDateOfUpload" required [min]="currentDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="uploadFileForm.controls.endDateOfUpload.errors && uploadFileForm.controls.endDateOfUpload.touched">
          <span *ngIf="uploadFileForm.controls.endDateOfUpload.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <p>Upload the document</p>
      <mat-form-field>
        <ngx-mat-file-input [multiple]="false" [accept]="'.pdf'" formControlName="file" [required]="true">
        </ngx-mat-file-input>
      </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial type="submit">Save</button>
</div>
</form>
