<h1 mat-dialog-title>Add new secretary</h1>
<form [formGroup]="addSecretaryForm" (submit)="submit()">
  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="addSecretaryForm.controls.firstName.errors && addSecretaryForm.controls.firstName.touched">
          <span *ngIf="addSecretaryForm.controls.firstName.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="addSecretaryForm.controls.lastName.errors && addSecretaryForm.controls.lastName.touched">
          <span *ngIf="addSecretaryForm.controls.lastName.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email address</mat-label>
        <input matInput formControlName="emailAddress" required>
        <mat-error *ngIf="addSecretaryForm.controls.emailAddress.errors && addSecretaryForm.controls.emailAddress.touched">
          <span *ngIf="addSecretaryForm.controls.emailAddress.errors.required">This field is mandatory.</span>
          <span *ngIf="addSecretaryForm.controls.emailAddress.errors.pattern">{{'login.email.pattern' | translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Phone numbers</mat-label>
        <input matInput formControlName="phoneNumbers" required>
        <mat-error *ngIf="addSecretaryForm.controls.phoneNumbers.errors && addSecretaryForm.controls.phoneNumbers.touched">
          <span *ngIf="addSecretaryForm.controls.phoneNumbers.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Save</button>
  </div>
</form>

