<section class="container">
  <!-- login -->
  <div class="login">

    <i class="fa fa-exchange"></i>
    <strong>{{"password.change.title" | translate}}</strong>

    <form [formGroup]="changePasswordForm">
      <div class="form">
        <div class="form-row">
          <i class="fa fa-user"></i>
          <label for="email" class="form-label">{{"login.email" | translate}}</label>
          <input type="email" name="email" id="email" class="form-control form-text"
                 formControlName="email" placeholder="{{'login.enter.email' | translate}}" [value]="email"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="validation-alert">
            <div *ngIf="f.email.errors.required">{{'login.email.required' | translate}}</div>
            <div *ngIf="f.email.errors.pattern">{{'login.email.pattern' | translate}}</div>
          </div>
        </div>
        <!----------------new password-------------------------------------------->
        <div class="form-row">
          <i class="fa fa-lock"></i>
          <label for="password" class="form-label">{{'password.change.password' | translate}}</label>
          <input type="password" name="password" id="password" class="form-control form-text"
                 formControlName="password"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="validation-alert">
            <div *ngIf="f.password.errors.required">{{'login.password.required' | translate}}</div>
          </div>
        </div>
        <!-----------------re-enter password-------------------------------------->
        <div class="form-row">
          <i class="fa fa-eye"></i>
          <label for="confirmpassword" class="form-label">{{'password.change.renter.password' | translate}}</label>
          <input type="password" name="confirmpassword" id="confirmpassword" class="form-control form-text"
                 formControlName="confirmpassword" pattern="{{ f.password.value }}"
                 [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }">
          <div *ngIf="submitted && f.confirmpassword.errors" class="validation-alert">
            <div *ngIf="f.confirmpassword.errors.required">{{'login.password.required' | translate}}</div>
            <div *ngIf="f.confirmpassword.errors.pattern">{{'password.change.match.error' | translate}}</div>
          </div>
        </div>
        <!--------------------------button--------------------------------->
        <div class="form-row button-login">
          <button type="submit" id="changePassword"  class="btn btn-login"
                  (click)="changePassword()">
            {{'password.change.confirm.button' | translate }}<i class="fa fa-save"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
