<section class="container">
  <!-- login -->
  <div class="login">

    <i class="fa fa-exchange"></i>
    <strong>{{"password.change.title" | translate}}</strong>

    <form [formGroup]="changePasswordForm">
      <div class="form">
        <div class="form-row">
          <i class="fa fa-user"></i>
          <label for="email" class="form-label">{{"login.email" | translate}}</label>
          <input type="email" name="email" id="email" class="form-control form-text"
                 formControlName="email" placeholder="{{'login.enter.email' | translate}}" [value]="email"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="validation-alert">
            <div *ngIf="f.email.errors.required">{{'login.email.required' | translate}}</div>
            <div *ngIf="f.email.errors.pattern">{{'login.email.pattern' | translate}}</div>
          </div>
        </div>
        <!----------------old password-------------------------------------------->
        <p style="font-size:12px;color:yellow;"><mat-icon>report</mat-icon>If this is the first time you want to change your password and activate your account, you need to
          also add the generated password received via email, otherwise your password won't be changed!</p>
        <div class="form-row">
          <i class="fa fa-lock"></i>
          <label for="oldPassword" class="form-label">{{'password.change.old.password' | translate}}</label>
          <input type="password" name="oldPassword" id="oldPassword" class="form-control form-text"
                 formControlName="oldPassword"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </div>
        <!----------------new password-------------------------------------------->
        <div class="form-row">
          <i class="fa fa-lock"></i>
          <label for="password" class="form-label">{{'password.change.password' | translate}}</label>
          <input type="password" name="password" id="password" class="form-control form-text" required
                 formControlName="password"
                 [ngClass]="{'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="validation-alert">
            <div *ngIf="f.password.errors.pattern">{{'login.password.pattern' | translate}}</div>
            <div *ngIf="f.password.errors.required">{{'login.password.required' | translate}}</div>
          </div>
        </div>
        <!-----------------re-enter password-------------------------------------->
        <div class="form-row">
          <i class="fa fa-eye"></i>
          <label for="confirmPassword" class="form-label">{{'password.change.renter.password' | translate}}</label>
          <input type="password" name="confirmPassword" id="confirmPassword" class="form-control form-text"
                 formControlName="confirmPassword" pattern="{{ f.password.value }}" required
                 [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors }">
          <div *ngIf="submitted && f.confirmPassword.errors" class="validation-alert">
            <div *ngIf="f.confirmPassword.errors.required">{{'login.password.required' | translate}}</div>
            <div *ngIf="f.confirmPassword.errors.pattern">{{'password.change.match.error' | translate}}</div>
          </div>
        </div>
        <!--------------------------button--------------------------------->
        <div class="form-row button-login">
          <button type="submit" id="changePassword"  class="btn btn-login"
                  (click)="changePassword()">
            {{'password.change.confirm.button' | translate }}<i class="fa fa-save"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
