<h1 mat-dialog-title>Edit secretary</h1>
<form [formGroup]="editSecretaryForm" (submit)="submit()">
  <div mat-dialog-content>

    <div style="display: none">
      <mat-form-field appearance="fill">
        <input matInput formControlName="id" [(ngModel)]="data.id">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" required [(ngModel)]="data.firstName">
        <mat-error *ngIf="editSecretaryForm.controls.firstName.errors && editSecretaryForm.controls.firstName.touched">
          <span *ngIf="editSecretaryForm.controls.firstName.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" required [(ngModel)]="data.lastName">
        <mat-error *ngIf="editSecretaryForm.controls.lastName.errors && editSecretaryForm.controls.lastName.touched">
          <span *ngIf="editSecretaryForm.controls.lastName.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Phone numbers</mat-label>
        <input matInput formControlName="phoneNumbers" [(ngModel)]="data.phoneNumbers">
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Save</button>
  </div>
</form>

