<h1 mat-dialog-title>Edit document</h1>
<form [formGroup]="editFileForm" (submit)="submit()">
  <div mat-dialog-content>
    <div [hidden]="true">
      <mat-form-field appearance="fill">
        <input matInput formControlName="id" required [(ngModel)]="data.id">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Document name</mat-label>
        <input matInput formControlName="name" required [(ngModel)]="data.name">
        <mat-error *ngIf="editFileForm.controls.name.errors && editFileForm.controls.name.touched">
          <span *ngIf="editFileForm.controls.name.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" [(ngModel)]="data.description"></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>End date of upload</mat-label>
        <input matInput [matDatepicker]="picker" [min]="currentDate" formControlName="endDateOfUpload" required [(ngModel)]="data.endDateOfUpload">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="editFileForm.controls.endDateOfUpload.errors && editFileForm.controls.endDateOfUpload.touched">
          <span *ngIf="editFileForm.controls.endDateOfUpload.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Save</button>
  </div>
</form>
