<h1 mat-dialog-title>Allocations</h1>
<div mat-dialog-content>

  <div><button mat-button (click)="addAllocation()">Add new allocation</button></div>


  <div style="display: inline-block;">
    <!---learning type filter------>
    <mat-form-field appearance="fill" class="hidden-element" id="learningTypeId">
      <mat-label>Learning type</mat-label>
      <mat-select (selectionChange)="makeUniversityStudyVisible($event.value)" [(value)]="selectLearningType">
        <mat-option *ngFor="let learningType of learningTypes" [value]="learningType.id">
          {{learningType.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!---university studies filter------>
    <mat-form-field appearance="fill" class="margin-left hidden-element" id="universityStudyId">
      <mat-label>University study</mat-label>
      <mat-select (selectionChange)="makeDomainVisible($event.value)" [(value)]="selectUniversityStudy">
        <mat-option *ngFor="let universityStudy of universityStudies" [value]="universityStudy.id">
          {{universityStudy.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!---domain filter------>
    <mat-form-field appearance="fill" class="margin-left hidden-element" id="domainId">
      <mat-label>Domain</mat-label>
      <mat-select (selectionChange)="makeStudyProgramVisible($event.value)" [(value)]="selectDomain">
        <mat-option *ngFor="let domain of domains" [value]="domain.id">
          {{domain.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!---study program filter------>
    <mat-form-field appearance="fill" class="hidden-element" id="studyProgramId">
      <mat-label>Study program</mat-label>
      <mat-select (selectionChange)="makeStudyYearVisible($event.value)" [(value)]="selectStudyProgram">
        <mat-option *ngFor="let studyProgram of studyPrograms" [value]="studyProgram.id">
          {{studyProgram.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!---study year filter------>
    <mat-form-field appearance="fill" class="margin-left hidden-element" id="studyYearId">
      <mat-label>Study year</mat-label>
      <mat-select [(value)]="selectStudyYear" (selectionChange)="makeSaveButtonVisible()">
        <mat-option *ngFor="let studyYear of studyYears" [value]="studyYear.id">
          {{studyYear.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button id = "saveAllocationButtonId" (click)="saveAllocation()" class="margin-left hidden-element">Save allocation</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="learningType">
      <th mat-header-cell *matHeaderCellDef>Learning type</th>
      <td mat-cell *matCellDef="let allocation" class="wider-cell">{{allocation.learningType}}</td>
    </ng-container>


    <ng-container matColumnDef="universityStudiesType">
      <th mat-header-cell *matHeaderCellDef>University studies type</th>
      <td mat-cell *matCellDef="let allocation" class="wider-cell">{{allocation.universityStudyType}}</td>
    </ng-container>


    <ng-container matColumnDef="domain">
      <th mat-header-cell *matHeaderCellDef>Domain</th>
      <td mat-cell *matCellDef="let allocation" class="wider-cell">{{allocation.domain}}</td>
    </ng-container>


    <ng-container matColumnDef="studyProgram">
      <th mat-header-cell *matHeaderCellDef>Study program</th>
      <td mat-cell *matCellDef="let allocation" class="wider-cell">{{allocation.studyProgram}}</td>
    </ng-container>

    <ng-container matColumnDef="studyYear">
      <th mat-header-cell *matHeaderCellDef>Study year</th>
      <td mat-cell *matCellDef="let allocation" class="wider-cell">{{allocation.studyYear}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let allocation" class="action-cell">
        <mat-icon class="" (click)="editAllocation(allocation)">edit</mat-icon>&nbsp;
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let allocation" class="action-cell">
        <mat-icon class="" (click)="deleteAllocation(allocation)">delete</mat-icon>&nbsp;
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
